DEV/aws/state_machines/clinicStateMachine.json
{
    "Comment": "Esta máquina de estados faz reconhecimento facial a partir de um input simples",
    "StartAt": "Validar Input",
    "States": {
      "Validar Input": {
        "Type": "Choice",
        "Choices": [
          {
            "And": [
              {
                "Variable": "$.imageKey",
                "IsPresent": true
              },
              {
                "Variable": "$.imageKey",
                "IsString": true
              },
              {
                "Variable": "$.bucketName",
                "IsPresent": true
              },
              {
                "Variable": "$.bucketName",
                "IsString": true
              },
              {
                "Variable": "$.imageBytes",
                "IsPresent": true
              },
              {
                "Variable": "$.imageBytes",
                "IsString": true
              }
            ],
            "Next": "Fazer Reconhecimento Facial"
          }
        ],
        "Default": "Success"
      },
      "Fazer Reconhecimento Facial": {
        "Type": "Task",
        "Resource": "arn:aws:states:::lambda:invoke",
        "OutputPath": "$.Payload",
        "Parameters": {
          "Payload.$": "$",
          "FunctionName": "arn:aws:lambda:us-east-1:730400266253:function:clientFacialRecognition:$LATEST"
        },
        "Retry": [
          {
            "ErrorEquals": [
              "Lambda.ServiceException",
              "Lambda.AWSLambdaException",
              "Lambda.SdkClientException",
              "Lambda.TooManyRequestsException"
            ],
            "IntervalSeconds": 1,
            "MaxAttempts": 3,
            "BackoffRate": 2
          }
        ],
        "Next": "Success"
      },
      "Success": {
        "Type": "Succeed"
      }
    }
  }